body{
    margin: 0;

}

.main{
    background: url("https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    /*transition: filter 0.6s;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    text-align: center;

}
.active.main {
    filter: blur(5px) brightness(0.5);
}
.home{
    font-family: cursive;
    color: #f1f1ee;
}

.btn{
    font-family: cursive;
     background-color: salmon;
    font-size: 30px;
    height: 50px;
    border-radius: 10px;
    border: 4px solid coral;
    box-shadow: 2px 2px 3px slateblue;
}
.btn:hover{
  background-color: #894098;
    cursor: pointer;
    /*filter: brightness(0.8);*/

}

.last{
    background-color: #e7e7b4;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 200px;
    top: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(241, 21, 79, 0.3);
    opacity: 1;
    transition: all 0.7s;
}
img{
    width: 100%;
    height: 100%;
}
.offer{
    height: 30px;
    margin-top: -180px;
    margin-right: 120px;
}

.input{
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
    border: 4px solid #b25d8c;
    box-shadow: 2px 2px 3px #c72751;
}
.btnN{
margin-left: 150px;
    width: 150px;
    margin-top: 20px;
    font-size: 40px;
    border-radius: 10px;
    border: 4px solid #904bc9;
    box-shadow: 2px 2px 3px slateblue;
}
.btnN:hover{
    background: #618eda;
    cursor: pointer;
}

.closeIcon{
    margin-top: -170px;
    margin-left: 340px;
}
.closeIcon:hover{
    cursor: pointer;
    color: darkorange;
}
.last{
    opacity: 1;
    transition: opacity 0.7s;
}



.last.active{
    visibility: hidden;
    opacity: 0;
}